.App {
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(3, 0, 31);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    font-weight: 400;
    font-size: 50%;
    align-items: center;
    min-height: 100vh;
    font-size: 15px;
    
}

.App {
    min-height: 100vh;
    align-items: center;
}

.sideBar {
    /* border-left: 1px solid white; Border from the left */
    /* padding-left: 1rem;  */
    /* padding-left: 1rem; */
}

.main {
 
}

.upperSideTop {
    display: flex;
}

.brand {
    /* margin-top: 0.5rem;
    margin-left: 0.5rem; */
}

.logo{
	
}

.upperSideTop {
    padding: 1rem;
    display: flex;
    align-items: center;
    height: 70%;
}

.upperSideBottom {
    padding: 1rem;
    padding-bottom: 8rem;
    border-bottom: 0.25px solid rgb(56, 53, 53);
    height: 70%;
    padding-top: 10px;
    align-items: center;
    
   
}

.lowerSide {
    padding-top: 1rem;
   
}
.color{
    background: rgb(3, 0, 31); 
}

.query {
    /* padding-bottom: 5rem; */
}
.midBtn{
    background: #5A4BFF;
    border: none;
    color: white;
   
    padding: 1.3rem;
    font: size 3rem ;
    width: 7rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    border-radius: 0.6rem;
    margin: 0  left;
    margin-left: 1rem;

}
.addBtn{
    height: 2rem;
    padding-right: 1rem;
   

}
.upperSide{
    width: 50%;
border-right: 0.25px solid rgb(56, 53, 53);
   
}
.query {
    display: flex;
    align-items: center;
    background: transparent;
    width: 10rem; /* Adjusted width */
    height: 3rem; /* Adjusted height */
    border-radius: 0.4rem; /* Adjusted border radius */
    border: 1px solid rgb(98, 98, 98, 1);
    padding: 0.5rem; /* Adjusted padding */
    text-align: center;
}
.query>img{
    object-fit: cover;
    margin-right: 2rem;
    height: 1.7rem;
}
.lowerSide{
    padding: 1rem;
}
.listItems{
    margin: 0.6rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
}
.listitemsImg{
    margin-bottom: 0.5rem;
    padding-right: 0.5rem;
    
}
.listItems:nth-child(1)>.listItemsImg{
    margin-right: 0.5rem;
}
.listItems:nth-child(3)>.listItemsImg{
    margin-right: 0.5rem;
}